.button {
    background-color: rgba(var(--color-main-first-background), 0.7);
    border-radius: 0.1em;
    padding: 1em 3em;
    transition: 0.5s;
    border: 1px solid var(--color-white);
}

.button a {
    font-family: var(--body-font-family);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.0625em;
    color: var(--color-white);
    text-decoration: none;
}


.button:hover {
    background-color: rgb(var(--color-main-background));
    cursor: pointer;
    color: var(--color-main-second);
}

.button:hover a {
    color: var(--color-main-second);
}