.call-to-action {
    /*background-color: rgba(var(--color-main-background), var(--transparency));*/
    text-align: center;
    padding: 2em 0;
    /*margin-bottom: 2em;*/
    border-radius: 0.2em;
}

.call-to-action p {
    font-family: var(--headings-font-hamily);
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}