#testimonials svg {
    width: 3em;
    height: auto;
    color: var(--font-color);
}

#toggle-nav-label svg {
    width: 2em;
    height: auto;
    color: var(--font-color);
}

#toggle-nav-label svg .close {
    width: 2em;
    height: auto;
    color: rgb(var(--color-main-background));
}