#site-header {
    padding-top: 2em;
    background-image: url("./../../images/transparent-chess-5516446-72-dpi.png");
    background-position: center;
    background-repeat: no-repeat;
}

#site-header .section-wraper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

#site-header .section-wraper .navigation {
    display: flex;
}