#advokat-peneva {
    background-color: var(--color-white);
    color: var(--font-color);
}

#advokat-peneva h2{
    color: var(--color-main);
}

#advokat-peneva .section-subtitle {
    color: var(--color-main-second);
}

#advokat-peneva .one-col .section-resume {
    padding-bottom: 1em;

}

#advokat-peneva .two-col h3 {
    padding-top: 2em;
    padding-bottom: 1.5em;
    color: var(--color-main-second);
}

#advokat-peneva .two-col .peneva-copy {
    padding-bottom: 1.5em;
}

/*#advokat-peneva .two-col .peneva-copy p {
    text-indent: 1em;
}*/