#testimonials {
    color: var(--font-color);
    background-color: rgb(var(--color-main-background));
}

#testimonials h2,
#testimonials .section-subtitle {
    color: var(--color-main-second);
}

#testimonials .section-header-title {
    padding-bottom: 1em;
}

#testimonials .testimonial span.copy {
    text-indent: 1em;
}