#contacts {
    background-color: var(--color-main-second);
    color: rgb(var(--color-main-background));
    background: linear-gradient(180deg, rgba(var(--color-main-second-background), 1), rgba(var(--color-main-first-background), 1)), url("./../../images/mac-2207377_1920.jpg")
}

#contacts .site-logo {
    margin-bottom: 3em;
    margin-top: 2em;
}

#contacts .contact .contacts-title {
    padding-bottom: 1em;
    margin-top: 2em;
}

#contacts .cnt .title {
    display: inline-block;
}

#contacts .cnt .copy {
    display: inline-block;
}