#contacts {
    background-color: var(--color-main);
    color: rgb(var(--color-main-background));
}

#contacts .site-logo {
    margin-bottom: 3em;
    margin-top: 2em;
}

#contacts .contact .contacts-title {
    padding-bottom: 1em;
    margin-top: 2em;
}

#contacts .cnt .title {
    display: inline-block;
}

#contacts .cnt .copy {
    display: inline-block;
}