/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*/

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoWebBold';
    src: url('Lato-Bold.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('Lato-Bold.woff2') format('woff2'),
        /* Modern Browsers */
        url('Lato-Bold.woff') format('woff'),
        /* Modern Browsers */
        url('Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('Lato-Regular.woff2') format('woff2'),
        /* Modern Browsers */
        url('Lato-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-Light.eot');
    /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/Lato-Light.woff2') format('woff2'),
        /* Modern Browsers */
        url('fonts/Lato-Light.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('Lato-Italic.eot');
    /* IE9 Compat Modes */
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('Lato-Italic.woff2') format('woff2'),
        /* Modern Browsers */
        url('Lato-Italic.woff') format('woff'),
        /* Modern Browsers */
        url('Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}




html {
    font: var(--font-base-size)/var(--font-line-height) var(--body-font-family), sans-serif;
    color: var(--font-color);

}

body,
table,
th,
td,
form,
input,
textarea,
option,
button,
details,
summary {
    font: inherit;
    color: var(--font-color);

}

p,
*+ul,
*+ol {
    padding-bottom: 1em;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.0em;
    font-family: var(--headings-font-hamily);
    text-transform: uppercase;
    /*margin-bottom: 0.5em;
    margin-top: 1em;*/
    font-weight: bolder;
    line-height: 1.1em;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

img,
video {
    display: block;
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style-position: inside;
}